.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers_input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 80%;
  margin: 0 0.5rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;

}

.results{
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center
  
}

.card {
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 80%;
  height: 100%;
  }
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}